@using DFC.App.JobProfile.Data.Models.SkillsModels
@if (!string.IsNullOrWhiteSpace(Model.DigitalSkill))
{
    <section class="job-profile-subsection">
        <h3>Skills and knowledge</h3>
        <div class="job-profile-subsection-content">
            <p>You'll need:</p>
            <ul>
                @foreach (var skill in Model.Skills)
                {
                    @if (!string.IsNullOrWhiteSpace(skill?.ContextualisedSkill?.Description) || !string.IsNullOrWhiteSpace(skill?.OnetSkill?.Description))
                     {
                        <li>
                            @Html.Raw(string.IsNullOrWhiteSpace(skill.OnetSkill.Description) ? skill.ContextualisedSkill.Description : skill.OnetSkill.Description)
                        </li>
                     }
                }
                @if (!string.IsNullOrWhiteSpace(Model.DigitalSkill))
                {
                    <li>@Model.DigitalSkill</li>
                }
            </ul>
        </div>
    </section>
}