@using DFC.App.JobProfile.Data.Enums
@model BodyViewModel

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @if (Model.Video != null)
        {
            <partial name="_Video" model=@Model.Video />
        }
        <div class="job-profile-sections">
            <div class="govuk-accordion" data-module="govuk-accordion" id="job-profile-accordion-with-summary-sections">
                <partial name="_HowToBecomeSegment" model=@Model.Segments.SingleOrDefault(s => s.Segment == JobProfileSegment.HowToBecome)?.Markup />
                <partial name="_WhatItTakesSegment" model=@Model.Segments.SingleOrDefault(s => s.Segment == JobProfileSegment.WhatItTakes)?.Markup />
                <partial name="_WhatYouWillDoSegment" model=@Model.Segments.SingleOrDefault(s => s.Segment == JobProfileSegment.WhatYouWillDo)?.Markup />
                <partial name="_CareerPathSegment" model=@Model.Segments.SingleOrDefault(s => s.Segment == JobProfileSegment.CareerPathsAndProgression)?.Markup />
                <partial name="_CurrentOpportunitiesSegment" model=@Model.Segments.SingleOrDefault(s => s.Segment == JobProfileSegment.CurrentOpportunities)?.Markup />
            </div>
        </div>
    </div>

    <div class="govuk-grid-column-one-third">
        <partial name="_Search" model=@Model.CanonicalName />
        <partial name="_RelatedCareersSegment" model=@Model.Segments.SingleOrDefault(s => s.Segment == JobProfileSegment.RelatedCareers)?.Markup />
        <partial name="_SkillsAssessmentSnippet" />
        <partial name="_ContactUsSnippet" />
    </div>
</div>
<partial name="_FeedbackYesOrNo"/>