<div class="app-related-items">
    <h2 class="govuk-heading-m">Speak to an adviser</h2>
    <p class="govuk-body"><span class="govuk-body govuk-!-font-weight-bold">Call</span> 0800 100 900 or <a class="govuk-link" href="/webchat/chat/" rel="external" target="'_blank'">use webchat</a></p>
    <ul class="govuk-list">
        <li> <span class="govuk-body govuk-!-font-weight-bold">8am - 8pm</span> Monday - Friday</li>
        <li> <span class="govuk-body govuk-!-font-weight-bold">10am - 5pm</span> Saturday and <a class="govuk-link" href="https://www.gov.uk/bank-holidays">bank holidays</a></li>
    </ul>
</div>