<div>
    <h3 class="govuk-heading-m">Get help using this service</h3>
    <p class="govuk-body govuk-!-margin-bottom-0">
        <span class="govuk-body govuk-!-font-weight-bold">Call&nbsp;</span>0800 100 900 or <a class="dfc-no-wrap" href="/webchat/chat/" target="'_blank'">use webchat</a>
    </p>
    <p class="govuk-caption-m govuk-!-font-size-16">8am to 10pm, 7 days a week</p>
    <p>More ways to <a href="/contact-us">contact us</a></p>
</div>