@model string

<section class="job-profile-subsection"
         id="volunteering-application">

    <h3>Volunteering</h3>

    <div class="job-profile-subsection-content">
        @Html.Raw(Model)
    </div>

</section>