@model PagesApiContentItemModel

    <section class="job-profile-subsection" id="directapplication">
        <h3>Volunteering application</h3>
        <div class="job-profile-subsection-content">
            @Html.Raw(Model.Description)
        </div>
    </section>