@model BaseContentItemModel

<section class="job-profile-subsection" id="registration">
    <h3>Registration</h3>
    <div class="job-profile-subsection-content">
        @*@Html.Raw(Model.Description)*@
    </div>
</section>
