@model string

<section class="job-profile-subsection" id="moreinfo">
    <h3>More information</h3>
    <div class="job-profile-subsection-content">
        <h4>Further information</h4>
        @Html.Raw(Model)
    </div>
</section>
