@model PagesApiContentItemModel
@{ 
    var requirementPrefix = Model.ContentItems.Where(x => x.ContentType == "RequirementsPrefix").SingleOrDefault();
    var apprenticeshipRequirement = Model.ContentItems.Where(x => x.ContentType == "ApprenticeshipRequirement").SingleOrDefault();
    var apprecticeshipLinks = Model.ContentItems.Where(x => x.ContentType == "ApprenticeshipLink").ToList();
}

    <section class="job-profile-subsection" id="Apprenticeship">
        <h3>Apprenticeship</h3>
        <div class="job-profile-subsection-content">
            @Html.Raw(Model.RelevantSubjects)
            <h4>@Html.Raw(requirementPrefix.Content)</h4>
            <p>@Html.Raw(apprenticeshipRequirement.Content)</p>

            <h4>More information</h4>
            <ul class="list-link">
                @foreach (var link in apprecticeshipLinks)
                {
                    <li><a class="htb-feature" href="#">@link.Content</a></li>
                }
            </ul>
        </div>
    </section>