@model ContentApiBranchElement

<section class="job-profile-subsection" id="work">
        <h3>Work</h3>
        <div class="job-profile-subsection-content">
            @Html.Raw(Model.Description)
        </div>
    </section>
