@model JobProfileApiContentItemModel
@{
    var essentialList = Model.ContentLinks.ContentLinks.Where(x => x.Key == "esco__relatedOptionalSkill").ToList()[0].Value.Select(x => x.Title).ToList();
    var listToLoop = Model.ContentItems.Where(x => x.ContentType == "esco__Skill").ToList();
}

<ul>
    @foreach (var skill in listToLoop)
    {
        @if (essentialList.Contains(skill.Content))
        {
            @if (skill.ContentLinks.ContentLinks[0].Value[0].Title == "knowledge")
            {
                <li>@skill.Content</li>
            }
        }
    }

</ul>