@model HeroBannerViewModel

@if (Model.ShowLmi && Model.Segments.Any(s => s.Segment == DFC.App.JobProfile.Data.JobProfileSegment.Overview) && Model.LmiLink.OverviewSegmentModel != null)
{
<div class="job-profile-hero-additional">
    <div class="govuk-width-container">
        <div class="grid-row">
            <div class="column-60 job-profile-heroblock-additional govuk-grid-column-two-thirds">
                <h2> Data to help you choose your career</h2>
                <div class="job-profile-group job-profile-heroblock-content">
                    <p class="dfc-code-jpwpattern">You can view data about a group of jobs including this one. It may help you choose a job or career path.</p>
                    <p class="dfc-code-jpwpattern govuk-!-padding-top-5"> <a href="@($"/job-groups/{Model.LmiLink.OverviewSegmentModel.Soc}/{Model.LmiLink.CanonicalName}")" class="govuk-link">Explore data to help you make a career decision</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
}