@model HeroViewModel

<div class="result-description" style="height: 170px;">
    <h3 class="govuk-heading-s"><a href="/job-profiles/@Model.JobProfileWebsiteUrl">@Html.Raw(Model.Title)</a></h3>
    <p>@Model.Description</p>
</div>
<partial name="_jbOverviewSegment" model="Model" />