<aside class="job-profile-sidebar">
    <div>
        <h2 class="heading-medium" id="job-profile-search">Not what you're looking for?</h2>
    </div>
    <div class="job-profile-search">
        <h3 class="heading-small">Search further careers</h3>
        <form action="/search-results" class="js-live-search-form site-search ui-front" id="job-profile-search-box" method="get">
            <div class="job-profile-search-content">
                <label for="search-main"> Enter a job title</label>
                <div class="search-input-wrapper">
                    <input class="search-input js-search-focus js-autocomplete ui-autocomplete-input" data-autocomplete-fuzzysearch="True" data-autocomplete-maxlength="7" data-autocomplete-maxnumberdisplyed="5" data-autocomplete-minlength="2" data-autocomplete-source="/searchautocomplete" id="search-main" name="SearchTerm" type="search" value="" autocomplete="off">
                </div>
                <button class="submit" type="submit" value="Search">Search</button>
            </div>
        </form>
    </div>
</aside>