<div>
    <div><h2 >Not what you're looking for?</h2></div>
</div>

<div>
    <h3>Search further careers</h3>

    <form method="post">
        <div>
            <label for="search-main">Enter a job title</label>

            <div>
                <input name="SearchTerm" id="search-main" type="search" value="" autocomplete="off">
            </div>

            <button class="submit" type="submit" value="Search">Search</button>
        </div>
    </form>
</div>