<nav class="jump-links" role="navigation" aria-label="skip to your documents">
    <ol class="list list-number">
        <li>
            <a href="#HowToBecomeSegment">How to become</a>
        </li>
        <li>
            <a href="#WhatItTakesSegment">What it takes</a>
        </li>
        <li>
            <a href="#WhatYouWillDoSegment">What you'll do</a>
        </li>
        <li>
            <a href="#CareerPathAndProgressionSegment">Career path and progression</a>
        </li>
        <li>
            <a href="#CurrentOpportunitiesSegment">Current opportunities</a>
        </li>
    </ol>
</nav>