@model JobProfileWhatItTakes

<section id="WhatItTakes"
         class="jobprofiles-section">

    <h2 class="job-profile-headings">What it takes</h2>

    @if (Model.Skills.Any())
    {
        <section class="job-profile-subsection"
                 id="skills">

            <h3>Skills and knowledge</h3>

            <div class="job-profile-subsection-content">

                <p>You'll need:</p>

                <ul>
                    @foreach (var skill in Model.Skills)
                    {
                        <li>@skill</li>
                    }
                </ul>
            </div>
        </section>
    }

    @if (Model.Restrictions.Any() || Model.OtherRequirements.Any())
    {
        <section class="job-profile-subsection"
                 id="restrictions">

            <h3>Restrictions and Requirements</h3>

            <div class="job-profile-subsection-content">

                @if (Model.Restrictions.Any())
                {
                    <p>You'll need to:</p>
                    <ul>
                        @foreach (var restriction in Model.Restrictions)
                        {
                            <li>@Html.Raw(restriction)</li>
                        }
                    </ul>
                }

                @foreach (var requirement in Model.OtherRequirements)
                {
                    @Html.Raw(requirement)
                }

            </div>
        </section>
    }

</section>
