@model JobProfileWhatItTakes

<section id="WhatItTakes" class="jobprofiles-section"
         data-gtm-vis-recent-on-screen-8675592_55="3291489"
         data-gtm-vis-first-on-screen-8675592_55="3291489"
         data-gtm-vis-total-visible-time-8675592_55="100"
         data-gtm-vis-has-fired-8675592_55="1">

    <h2 class="job-profile-headings">What it takes</h2>

    <div class="govuk-accordion"
         data-module="govuk-accordion"
         id="accordion-default"
         aria-expanded="true">

        <section class="job-profile-subsection"
                 id="workingenvironment">

            <h3>Skills and knowledge</h3>

            <div class="job-profile-subsection-content">

                <p>You'll need:</p>

                <ul>
                    @foreach (var skill in Model.Skills)
                    {
                        <li>@skill</li>
                    }
                </ul>
            </div>
        </section>
    </div>
</section>