@model JobProfileWhatYouWillDo

<section id="WhatYouWillDo">

    <h2 class="job-profile-heading">What you'll do</h2>

    @if (It.Has(Model.DayToDayTasks))
    {
        <section class="job-profile-subsection"
                 id="day-to-day-tasks">

            <h3>Day-to-day tasks</h3>

            <div class="job-profile-subsection-content">
                @Html.Raw(Model.DayToDayTasks)
            </div>
        </section>
    }

    @if (Model.WorkingEnvironment.Any())
    {
        <section class="job-profile-subsection"
                 id="working-environment">

            <h3>Working environment</h3>

            <div class="job-profile-subsection-content">
                @foreach (var item in Model.WorkingEnvironment)
                {
                    @Html.Raw(item)
                }
            </div>
        </section>
    }

    @if (Model.WorkingLocation.Any())
    {
        <section class="job-profile-subsection"
                 id="working-location">

            <h3>Working Location</h3>

            <div class="job-profile-subsection-content">

                @foreach (var item in Model.WorkingLocation)
                {
                    @Html.Raw(item)
                }
            </div>
        </section>
    }

    @if (Model.WorkingUniform.Any())
    {
        <section class="job-profile-subsection"
                 id="working-uniform">

            <h3>Working Uniform</h3>

            <div class="job-profile-subsection-content">

                @foreach (var item in Model.WorkingUniform)
                {
                    @Html.Raw(item);
                }
            </div>
        </section>
    }
</section>