<nav class="jump-links" role="navigation" aria-label="skip to your documents">
    <ol class="list list-number">
        <li>
            <a href="#HowToBecome">How to become</a>
        </li>
        <li>
            <a href="#WhatItTakes">What it takes</a>
        </li>
        <li>
            <a href="#WhatYouWillDo">What you'll do</a>
        </li>
        <li>
            <a href="#CareerPathAndProgression">Career path and progression</a>
        </li>
        <li>
            <a href="#CurrentOpportunities">Current opportunities</a>
        </li>
    </ol>
</nav>