@model JobProfileWhatItTakes

@{
    const int itemPosition = 2;
}

<div class="govuk-accordion__section ">

    <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button"
                  id="job-profile-accordion-with-summary-sections-heading-@itemPosition">
                What it takes
            </span>
        </h2>
    </div>

    <div class="govuk-accordion__section-summary govuk-body"
         id="job-profile-accordion-with-summary-sections-summary-@itemPosition">
    </div>

    <div id="job-profile-accordion-with-summary-sections-content-@itemPosition"
         class="govuk-accordion__section-content"
         aria-labelledby="job-profile-accordion-with-summary-sections-heading-@itemPosition">

        @if (Model.Skills.Any())
        {
            <section class="job-profile-subsection"
                     id="skills">

                <h3>Skills and knowledge</h3>

                <div class="job-profile-subsection-content">

                    <p>@Model.Preface</p>

                    <ul>
                        @foreach (var skill in Model.Skills)
                        {
                            <li>@skill</li>
                        }
                    </ul>
                </div>
            </section>
        }

        @if (Model.Restrictions.Any() || Model.OtherRequirements.Any())
        {
            <section class="job-profile-subsection"
                     id="restrictions">

                <h3>Restrictions and Requirements</h3>

                <div class="job-profile-subsection-content">

                    @if (Model.Restrictions.Any())
                    {
                        <ul>
                            @foreach (var restriction in Model.Restrictions)
                            {
                                <li>@Html.Raw(restriction)</li>
                            }
                        </ul>
                    }

                    @if (Model.Restrictions.Any())
                    {
                        foreach (var requirement in Model.OtherRequirements)
                        {
                            @Html.Raw(requirement)
                        }
                    }
                </div>
            </section>
        }
    </div>
</div>
