@model DocumentViewModel

@{
    Layout = "_Layout";
    ViewBag.Title = "Back to List...";
}

<partial name="_HeroBanner" model="@Model.HeroBanner" />

<div class="govuk-main-wrapper">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <partial name="_BodyContent" model="@Model.Body" />
            </div>
        </div>
    </div>
</div>
