@model IndexViewModel

@{
    Layout = "_Layout";
    ViewBag.Title = "Job Profiles Summary List...";
}

<div class="govuk-main-wrapper">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <ul>
                    @foreach (var document in Model.Documents)
                    {
                        <li>
                            <a href="/profile/@document.JobProfileWebsiteUrl">@document.CanonicalName</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

