@model IndexViewModel

@{
    Layout = "_Layout";

    <h2>Job Profiles Summary List</h2>
    <ul>
        @foreach (var document in Model.Documents)
        {
            <li>
                <a href="/profile/@document.JobProfileWebsiteUrl">@document.CanonicalName</a>
            </li>
        }
    </ul>
}
