@using DFC.App.JobProfile.Data.Models.SkillsModels
@{
    var restrictions = Model.Restrictions as List<Restriction>;
}
@if (!string.IsNullOrWhiteSpace(Model.OtherRequirements))
{
    <section class="job-profile-subsection" id="restrictions">
        <h3>Restrictions and Requirements</h3>
        <div class="job-profile-subsection-content">
            @if (restrictions.Count > 0)
            {
                <p>You'll need to:</p>
                <ul>
                    @foreach (var restriction in restrictions)
                    {
                        <li>@Html.Raw(restriction.Description)</li>
                    }
                </ul>
            }
            @Html.Raw(Model.OtherRequirements)
        </div>
    </section>
}