<section id="WhatItTakes">
    <h2 class="job-profile-headings">What it takes</h2>

    <partial name="~/Views/Profile/Segment/Skills/BodyDataSkills.cshtml" model="@Model" />
    <partial name="~/Views/Profile/Segment/Skills/BodyDataRestrictions.cshtml" model="@Model" />

</section>