@model IndexViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Index</title>
</head>
<body>
@if (Model.Documents?.Count() > 0)
{
    <ul>
        @foreach (var document in Model.Documents)
        {
            <li>
                <a href="/segment/@document.CanonicalName">@document.CanonicalName</a>
            </li>
        }
    </ul>
}
</body>
</html>